.jumbotron {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #9be2cc;
}

.btn {
    border: none;
    padding: 0;
}

.img {
    height: 180px
}

.textMuted {
    font-size: 13px;
    margin-top: 10px;
}